<footer>
  <div class="flex-col text-center py-1">
    <div>2021</div>
    <div><a href="/terms">оферта</a></div>
    <div><a href="/kekw">test</a></div>
  </div>
</footer>

<script>
  toContact.addEventListener("click", (e) => {
    key.scrollIntoView({
      block: "start",
      inline: "nearest",
      behavior: "smooth",
    });
  });

  toMap.addEventListener("click", (e) => {
    map.scrollIntoView({
      block: "start",
      inline: "nearest",
      behavior: "smooth",
    });
  });
</script>

<!-- <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW5n0pkKqlUZAElj4jRLq3-UchghDujC0&callback=initMap&libraries=&v=weekly&channel=2"
  async
></script> -->

<!-- <script>
  // Initialize and add the map
  // function initMap() {
    // The location of Restar
  //  const restar = { lat: 44.02234487559395, lng: 43.12768422513493 };
    // The map, centered at Restar
  //  const map = new google.maps.Map(document.getElementById("map"), {
   //   zoom: 15,
    //  center: restar,
   // });
    // The marker, positioned at Resar
   // const marker = new google.maps.Marker({
   //   position: restar,
    //  map: map,
   /// });
  // }
</script> -->
