<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Стартеры и генераторы для любых автомобилей: в СТО РЕСТАР мы ремонтируем стартеры и генераторы на любые автомобиле, продаем комплектующие а так же производим проточку тормозных дисков" />

<link rel="icon" href="https://re-star.ru/favicon.svg">

<title>{{.Title}}</title>

{{ $styles := resources.Get "css/main.css" }}

{{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ else }}
  {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
  <link
    rel="stylesheet"
    href="{{ $styles.RelPermalink }}"
    integrity="{{ $styles.Data.Integrity }}"
  />
{{ end }}
{{/*  if site is server, include metrics   */}}
{{ if .Site.IsServer }}
{{ else }}
  {{ partial "scripts/yandex-metrica" . }}
  {{ partial "scripts/google-anal.html" . }}
{{ end }}

