@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .button {
    @apply bg-gray-600 
    text-gray-100 
    p-3
    shadow-xl
    rounded-lg
    hover:bg-opacity-60
    transition
    uppercase
    focus:outline-none
    font-bold;
  }
}

/* pagination */

@layer components {
  .pagination {
    @apply flex justify-center;
  }

  .pagination__item {
    @apply px-5 py-3 text-gray-600 bg-white border border-r-0 border-gray-600 hover:bg-gray-100;
  }

  .pagination__item.current {
    @apply bg-gray-400;
  }
}
