<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

    <title>Ячейка {{.ID}} </title>
</head>
<body>
    <div class="container pt-5">
        <h1>Ячейка {{.ID}}</h1>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            {{ range .Items }}

            <div class="col">
                <div class="card">
                    <img src="https://placekitten.com/g/800/600" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{.Name}}</h5>
                        <p class="card-text">
                            Характеристика {{.Characteristic}}
                        </p>
                        <p class="card-text">Количество {{.Amount}}</p>
                    </div>
                </div>
            </div>


            {{ else }} пусто {{ end }}
        </div>
    </div>
</body>
</html>