<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/htmx.org@1.7.0"
            integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <title>Restaritem</title>
</head>
<body>

<div hx-trigger="load">
    <div class="container p-2">
        <h1 class="text-xl">Товар в ремонте №{{.ID}}</h1>

        <form hx-get="{{.ID}}/inspections" hx-trigger="load" id="inspections">
            пусто
        </form>

        <form hx-encoding='multipart/form-data' hx-post="{{.ID}}/addPhoto">
            {{template "photosView" .}}
        </form>

        <button class="start-record btn btn-primary">кнопка записи голосового сообщения</button>
        <button class="stop-record btn btn-primary">стоп запись</button>

    </div>

    <div class="info"></div>
</div>

<script>
const record = document.querySelector('.start-record');
const stopRecord = document.querySelector('.stop-record');

const info = document.querySelector('.info');

if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    info.innerHTML = 'getUserMedia supported.';

    navigator.mediaDevices
        .getUserMedia({ audio: true })
        .then(function(stream) {
            const mediaRecorder = new MediaRecorder(stream);
            info.innerHTML += '<br> ' +
                'MediaRecorder mime type:' + mediaRecorder.mimeType;

            let chuncks = [];
            mediaRecorder.ondataavailable = function(e) {
                chuncks.push(e.data);
            };

            mediaRecorder.onstop = function(e) {
                const blob = new Blob(chuncks, { 'type': 'audio/webm' });
                const url = URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = 'audio.webm';
                document.body.appendChild(a);
                a.click();
                setTimeout(function() {
                    document.body.removeChild(a);
                    window.URL.revokeObjectURL(url);
                }, 100);
            };

            record.onclick = function() {
                mediaRecorder.start()
                info.innerHTML = '\nRecording state... ' + mediaRecorder.state
                info.innerHTML += '\nrecorder started'


                navigator.mediaDevices.getUserMedia({audio: true})
            }

            stopRecord.onclick = function() {
                mediaRecorder.stop()
                info.innerHTML = '\nRecording state... ' + mediaRecorder.state
                info.innerHTML += '\nrecorder stopped'
            }

        })
        .catch(function(err) {
            info.innerHTML = 'Error: ' + err
        })


} else {
    info.innerHTML = 'getUserMedia not supported on your browser!'
}


</script>

</body>
</html>