{{ define "scripts" }}

  {{ $externals := slice "react" }}

  {{ $shims := dict "react" "assetss/shimsf/resact.js"  "react-dom" "assets/shims/react-dosm.js" }}

  {{ if .Site.IsServer }}
    {{ $opts := dict "targetPath" "main.js" "bundle" true "sourceMap" "inline" "shims" $shims }}
    {{ $scripts := resources.Get "script/main.tsx" | js.Build $opts }} <script src="{{ $scripts.RelPermalink }}" crossorigin defer></script>
  {{ else }}

    {{ $defines := dict "process.env.NODE_ENV" "'production'" }}
    {{ $opts := dict "targetPath" "main.js" "defines" $defines "minify" true }}
    {{ $scripts := resources.Get "script/main.tsx" | js.Build $opts }}
    {{ $scripts := $scripts | minify | fingerprint | resources.PostProcess }} <script src="{{ $scripts.RelPermalink }}" integrity="{{ $scripts.Data.Integrity }}" crossorigin defer></script>
  {{ end }}
{{ end }}

{{ define "main" }}
  <div id="app" class="pt-10"></div>
{{ end }}
