<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>
    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    
    <% if (!process.env.DEV) { %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=UA-168726428-1"
      ></script>
      <script>
        window.dataLayer = window.dataLayer || []
        function gtag() {
          dataLayer.push(arguments)
        }
        gtag('js', new Date())

        gtag('config', 'UA-168726428-1')
      </script>

      <meta name="format-detection" content="telephone=no" />
      <meta name="google-site-verification" content="Xq0b9lAGosAXz8rV63y_VXY0ce-9XkTLMMP4XyOqPb4"/>
      <meta name="msapplication-tap-highlight" content="no" />
      <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width <% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"/>

      <meta name="yandex-verification" content="bdebf71c835e97f7" />
      <!-- Yandex.Metrika counter -->
      <script type="text/javascript">
        ;(function(m, e, t, r, i, k, a) {
          m[i] =
            m[i] ||
            function() {
              ;(m[i].a = m[i].a || []).push(arguments)
            }
          m[i].l = 1 * new Date()
          ;(k = e.createElement(t)),
            (a = e.getElementsByTagName(t)[0]),
            (k.async = 1),
            (k.src = r),
            a.parentNode.insertBefore(k, a)
        })(
          window,
          document,
          'script',
          'https://mc.yandex.ru/metrika/tag.js',
          'ym'
        )

        ym(65568466, 'init', {
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true,
          webvisor: true
        })
      </script>
      <!-- /Yandex.Metrika counter -->
    <% } %>
    <link rel="icon" type="image/ico" href="icons/favicon.png" />
  </head>
  <body>
    <div id="q-app"></div>
    <% if (!process.env.DEV) { %>
      <noscript>
        <div>
          <img src="https://mc.yandex.ru/watch/65568466" style="position:absolute; left:-9999px;" alt=""/>
        </div>
      </noscript>
    <% } %>    
  </body>
</html>
