{{ define "main" }}
<main class="container text-center mx-auto px-4 py-20">
  <div class="py-4">
    <h1>Ре-Стар</h1>
    <h2 class="text-xl">сервисный центр</h2>
  </div>

  <div class="py-4">
    <h2>Ремонт стартеров генераторов</h2>
    <h2>Проточка тормозных дисков</h2>
    <div class="text-gray-500">работаем с 2006</div>
  </div>

  <button
    class="
      bg-gray-600
      text-gray-100
      p-2
      border-4
      hover:bg-opacity-60
      transition
    "
  >
    Связаться с нами
  </button>
</main>

<!-- галерея -->
<section class="container mx-auto px-4 py-24">галерея</section>
<!-- map -->
<section class="container mx-auto px-4 py-24">
  <div>контакты</div>
  <div>карта</div>
</section>

{{ end }}
