{{ define "main" }}
  <main class="container text-center mx-auto px-4 py-20">
    <div class="py-4">
      <h1 class="text-5xl font-bold ">Ре-Стар</h1>
      <h2 class="text-xl">сервисный центр</h2>
    </div>

    <div class="py-4">
      <h2 class="text-base font-bold uppercase">
        ремонт стартеров генераторов
      </h2>
      <h2 class="text-base font-bold uppercase">проточка тормозных дисков</h2>
      <div class="text-gray-500">работаем в Пятигорске с 2006г</div>
    </div>

    <div class="py-4">
      <button
        id="toContact"
        class="
        bg-gray-600
        text-gray-100
        p-3
        shadow-xl
        rounded-xl
        hover:bg-opacity-60
        transition
        uppercase
      "
      >
        Связаться с нами
      </button>
    </div>
  </main>

  <!-- галерея -->
  <section class="grid grid-cols-1 md:grid-cols-3 ">
    <div class="max-h-96">
      <img class="object-contain w-full" src="/generators/1.jpeg" />
    </div>

    <div class="max-h-96">
      <img class="object-contain w-full" src="/generators/2.jpeg" />
    </div>

    <div class="max-h-96">
      <img class="object-contain w-full" src="/generators/3.jpeg" />
    </div>

    <div class="max-h-96">
      <img class="object-cover w-full" src="/brake-disks/1.jpeg" />
    </div>

    <div class="max-h-96">
      <img class="object-cover" src="/brake-disks/2.jpeg" />
    </div>

    <div class="max-h-96">
      <img class="object-contain w-full" src="/brake-disks/3.jpeg" />
    </div>
  </section>
  <!-- map -->
  <section class="container mx-auto px-4">
    <div><img src="/map/map.jpeg" /></div>
  </section>

  <!-- контакты -->
  <section id="key" class="container mx-auto px-4 py-24">
    <div>контакты</div>

    <div>
      <h1>Find us</h1>
      -------------
      <!-- dash -->
      <div class="flex-column">
        <div>
          <div>
            <p>address</p>
            <p>phone number</p>
          </div>

          <div>
            <h2>Opening hours</h2>
            <div>mon-sundey: 9am-5pm</div>
          </div>
        </div>

        <div>
          <form action="">
            Enter Your name
            <input type="text" name="" id="" />

            Enter Your Email
            <input type="text" name="" id="" />

            Phone
            <input type="text" name="" id="" />

            Enter Your message here

            <input type="text" name="" id="" />

            <button>Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{{ end }}
