{{ define "main" }}
  <main class="container text-center h-screen mx-auto pt-40">
    <div class="py-4">
      <h1 class="text-5xl font-bold font-mono">Ре-Стар</h1>
      <h2 class="text-xl">сервисный центр</h2>
    </div>

    <div class="py-4 mb-8">
      <h2 class="text-base font-bold uppercase">
        ремонт стартеров генераторов
      </h2>
      <h2 class="text-base font-bold uppercase mb-4">
        проточка тормозных дисков
      </h2>
      <div class="text-gray-500">работаем в Пятигорске с 2004</div>
    </div>

    <div class="py-4 max-w-xs mx-auto flex flex-col gap-4">
      <a
        href="tel:555-55"
        class="
        bg-gray-600
        text-gray-100
        p-3
        shadow-xl
        rounded-lg
        hover:bg-opacity-60
        transition
        uppercase
        focus:outline-none
      "
      >
        Позвонить 📱
      </a>

      <button
        id="toMap"
        class="
        bg-gray-600
        text-gray-100
        p-3
        shadow-xl
        rounded-lg
        hover:bg-opacity-60
        transition
        uppercase
        focus:outline-none
      "
      >
        Проехать 🚗
      </button>

      <button
        id="toContact"
        class="
        bg-gray-600
        text-gray-100
        p-3
        shadow-xl
        rounded-lg
        hover:bg-opacity-60
        transition
        uppercase
        focus:outline-none
      "
      >
        Написать 📧
      </button>
    </div>
  </main>

  <!-- отзывы клиентов -->
  <section class="container mx-auto bg-gray-600 h-96">
    <div>Отзыв отзыв</div>
  </section>

  <!-- галерея -->
  <section class="grid gap-1 grid-cols-1 md:grid-cols-3 ">
    <div>
      <img class="object-contain w-full" src="/generators/1.jpeg" />
    </div>

    <div>
      <img class="object-contain w-full" src="/generators/2.jpeg" />
    </div>

    <div>
      <img class="object-contain w-full" src="/generators/3.jpeg" />
    </div>

    <div>
      <img class="object-cover w-full" src="/brake-disks/1.jpeg" />
    </div>

    <div>
      <img class="object-cover" src="/brake-disks/2.jpeg" />
    </div>

    <div>
      <img class="object-contain w-full" src="/brake-disks/3.jpeg" />
    </div>
  </section>

  <!-- map -->
  <section id="map">
    <div><img class="h-screen" src="/map/map.jpeg" /></div>
  </section>

  <!-- контакты -->
  <section id="key" class="container mx-auto overflow-hidden">
    <div class="bg-yellow-400 mx-auto text-center h-screen  max-w-xl p-2">
      <h1>Контакты</h1>
      ---------------
      <!-- dash -->
      <div class="flex flex-col md:flex-row place-content-center">
        <div class="p-4 text-left">
          <div>
            <p>address</p>
            <p>phone number</p>
          </div>

          <div>
            <h2>Opening hours</h2>
            <div>mon-sundey: 9am-5pm</div>
          </div>
        </div>

        <div>
          <form class="flex flex-col  text-left bg-white p-2">
            Ваше имя
            <input class="border-2 border-black" type="text" name="" id="" />

            Ваш электроящик
            <input class="border-2 border-black" type="text" name="" id="" />

            Номер телефона
            <input class="border-2 border-black" type="text" name="" id="" />

            Введите сообщение
            <textarea class="border-2 border-black mb-4" rows="5"></textarea>

            <button
              class="
                  bg-gray-600
                  text-gray-100
                  p-3
                  shadow-xl
                  rounded-lg
                  hover:bg-opacity-60
                  transition
                  uppercase
                  focus:outline-none
                "
            >
              Отправить
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
{{ end }}
